.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.imagem_roupa {
  display: flex;
  border-radius: 10px;
  margin: 1%;
  width: 300px;
  height: 300px;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
  font-weight: 400;
}

.topico_roupa {
  font-weight: 400;
  font-style: normal; /* ou italic, conforme necessário */
  margin-top: -10px; /* ou outro valor razoável */
  font-size: 18px; /* ou outra unidade relativa */
}

.text-body-secondary.py-5 {
  background-color: #000000;
  width: 100%;
  height: 10vh;
  margin-top: 20%;
}
.mb-1 {
  color: white;
}

.front-image-identifier {
  position: absolute;
  margin-left: 55%;
  margin-top: -70%;
  font-size: 6vh;
}

.tópico {
  font-weight: bold;
}

.topic-container {
  margin-left: 5%;
  margin-top: 20%;
}

.navbar {
  width: 100%;
  height: 10vh;
}

.logo {
  max-width: 100px;
  height: auto;
}

.roupa-thumbnail {
  max-height: 268px;
  width: auto;
  object-fit: cover;
}

/*.
CASO ESSA ALTERAÇÃO DE LAYOUT ESTEJA SENDO USADA PARA OUTRA COISA, CRIE UMA CLASSE ESPECÍFICA PARA ELA
form-control.me-2 {
width: 12vw;
height: 5vh;
font-size: 2vh;
} 
*/

.btn.btn-outline-success {
  width: 8vw;
  height: 5vh;
  font-size: 2vh;
}

.navbar-toggler {
  width: 5vh;
  height: 5vh;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-top: -7vh;
}

.navbar-toggler-icon {
  width: 5vh;
  height: 5vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.specific-icon {
  width: 5vh;
  height: 5vh;
  margin-left: 2%;
  color: white;
}

.cart {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart th, .cart td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  text-decoration: solid;
}

.cart th {
  background-color: #f2f2f2;
}

.cart button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 2px 10px; /* Adjusted padding for consistent button size */
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}

.cart button:hover {
  background-color: #d32f2f;
}

.cart button:active {
  background-color: #b71c1c;
}

/* Add margin to the buttons */
.cart button + button {
  margin-left: 5px;
}

div {
  margin-top: 20px;
}

h2 {
  color: #333;
}

tr:not(:first-child) {
  margin-top: 10px;
}


