.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.category-icon {
    font-size: large;
    color: black;
    text-decoration: none;
    font-weight: 500;


}

.category-icon i {
    font-size: 35px;
}.imagem_roupa {
display: flex;
border-radius: 10px;
margin: 1% 1% 31% 1%;
margin-left: 5%;
width: 40%;
height: 80%;
}

@font-face {
  font-family: 'Roboto Condensed', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
  font-weight: 400; /* Use 300 para Light, 400 para Regular, 700 para Bold, etc. */
  font-style: normal;
}

.tópico_roupa {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: - 40%;
  font-size: 4vh;
}
.text-body-secondary.py-5 {
  background-color: #000000;
  width: 100%;
  height: 10vh;
  margin-top: 20%
}
.mb-1 {
color: white;
}

.front-image-identifier {
position: absolute;
margin-left: 55%;
margin-top: -70%;
font-size: 6vh;
}

.tópico {
font-weight:bold
}
.topic-container {
margin-left: 55%;
margin-top: -60%
}
.logo {
width: auto;
height: 8vh;
}

.navbar {
width: width 100%;
height: 10vh;
}

.form-control.me-2 {
width: 12vw;
height: 5vh;
font-size: 2vh;
}

.btn.btn-outline-success {
width: 8vw;
height: 5vh;
font-size: 2vh;
}

.navbar-toggler {
  width: 5vh;
  height: 5vh;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-top: -7vh
}


.navbar-toggler-icon {
width: 5vh;
height: 5vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}