.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.imagem_roupa {
  display: flex;
  border-radius: 10px;
  margin: 1%;
  width: 300px;
  height: 300px;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
  font-weight: 400;
}

.topico_roupa {
  font-weight: 400;
  font-style: normal; /* ou italic, conforme necessário */
  margin-top: -10px; /* ou outro valor razoável */
  font-size: 18px; /* ou outra unidade relativa */
}

.text-body-secondary.py-5 {
  background-color: #000000;
  width: 100%;
  height: 10vh;
  margin-top: 20%;
}
.mb-1 {
  color: white;
}

.front-image-identifier {
  position: absolute;
  margin-left: 55%;
  margin-top: -70%;
  font-size: 6vh;
}

.tópico {
  font-weight: bold;
}

.topic-container {
  margin-left: 5%;
  margin-top: 20%;
}

.navbar {
  width: 100%;
  height: 10vh;
}

.logo {
  max-width: 60px;
  height: auto;
}

.roupa-thumbnail {
  max-height: 268px;
  width: auto;
  object-fit: cover;
}

/*.
CASO ESSA ALTERAÇÃO DE LAYOUT ESTEJA SENDO USADA PARA OUTRA COISA, CRIE UMA CLASSE ESPECÍFICA PARA ELA
form-control.me-2 {
width: 12vw;
height: 5vh;
font-size: 2vh;
} 
*/

.btn.btn-outline-success {
  width: 8vw;
  height: 5vh;
  font-size: 2vh;
}

.navbar-toggler {
  width: 5vh;
  height: 5vh;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-top: -7vh;
}

.navbar-toggler-icon {
  width: 5vh;
  height: 5vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
}

.container.px-4.px-lg-5 {
  background-color: lightgray;
}

.header_index{
  background-color: white;
}

.container.px-4.px-lg-5.my-2 {
  background-color: white;
}

.navbar.navbar-expand-lg.nav-base {
  background-color: lightgray;
}

.text-center {
  color: lightgray;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

.nav-link.active {
  font-family: 'Sora', sans-serif;
  margin-left: 60vh;
}

.nav-link {
  font-family: 'Sora', sans-serif;
  color: black;
}

.btn.btn-outline-light {
  font-family: 'Sora', sans-serif;
  color: black;
}

.btn.btn-outline {
  font-family: 'Sora', sans-serif;
  color: black;
  border: 1px solid black;
  
}

.btn.btn-outline:hover {
  font-family: 'Sora', sans-serif;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.carousel.slide {
  margin-bottom: 25%;
  width: 30%;
  height: auto;
}

.col.mb-5 {
  margin-top: 3vh;
}

.container.px-4.px-lg-5.mt-5 {
  border-radius: 10px;
}

.card-img-top.roupa-thumbnail {
  border-radius: 5%;
}

.card.h-100 {
  border-radius: 5%;
}

.form-control {
  background-color: lightgray;
  border-radius: 100px;
}

.btn.btn-index {
  outline-color: none;
  background-color: lightgray;
  border-radius: 100px;
}

.bi.bi-search {
  color: black;
  border: 1px solid lightgrey;
  border-radius: 100px;
}

.icon-container {
  margin-bottom: 10px; /* Ajuste o valor conforme necessário */
  padding: 50px;
}

.col-4 {
  width: 40px;
  height: auto;
  margin: 80px;
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: white;
}

.icon {
  border: none;
  background-color: white;
}

.icon-describer {
  text-align: center;
  margin: 30px
}

#calçado {
  margin-top: 50px;
}