<div class="col mb-5">
    <div id='container-rou' class="card h-100">
        <!-- Product image-->
        <img id='card-roupa' class="card-img-top img-fluid roupa-thumbnail" src="media/{{ roupa.fotosroupas_set.all.0.fotoUrl }}" alt="{{ roupa.nome }}" />
        <!-- Product details-->
        <div id='corpo-card' class="card-body p-4">
            <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ roupa.nome }}</h5>
                <!-- Product price-->
                <p>Preço: R$ {{ variacao.preco_aluguel }}</p>
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'roupa' idroupa=roupa.id_roupas %}"  id='bot-card'>Ver mais</a></div>
        </div>
    </div>
</div>
