{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Header -->
{% load static %}
<header class="header_index">
    
    <div class="container px-4 px-lg-5 my-2">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <form class="d-flex mt-3" role="search" action="{% url 'home' %}" method="get">
                    <div class="input-group mb-3">
                        <input class="form-control" type="search" name="q" placeholder="Pesquisar"
                            aria-label="Pesquisar" value="{{ q }}">
                        <button class="btn btn-index" type="submit"><i class="bi bi-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div id='icones-index' class="row">
            <div class="col-4">
                <div class="icon-container">
                    <a href="{% url 'home' %}?t=8" class="category-icon">
                        <button class="icon">
                            <img src="{% static 'img/man.png' %}" width='10' alt='Roupas Masculinas'>
                            <p class='icon-describer'>Masculinas</p>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="icon-container">
                    <a href="{% url 'home' %}?t=2" class="category-icon">
                        <button class="icon">
                            <img src="{% static 'img/woman.png' %}" width='11.5' alt='Roupas Femininas'>
                            <p class='icon-describer'>Femininas</p>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="icon-container">
                    <a href="{% url 'home' %}?t=10" class="category-icon">
                        <button class="icon">
                            <img src="{% static 'img/terno.png' %}" width='20' alt='Ternos Completos'>
                            <p class='icon-describer'>Ternos Completos</p>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="icon-container">
                    <a href="{% url 'home' %}?t=9" class="category-icon">
                        <button class="icon">
                            <img src="{% static 'img/shoe.png' %}" width='30' alt='Calçados'>
                            <p id='calçado' class='icon-describer'>Calçados</p>
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-4">
                <div class="icon-container">
                    <a href="#" class="category-icon">
                        <button class="icon">
                            <img src="{% static 'img/heart.png' %}" width='25' alt='Favoritos'>
                            <p class='icon-describer'>Acessórios</p>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% if false %}
        <div class='d-flex align-items-center justify-content-center vh-100'>
            <div class='carrossel-bg'>
                <div id="carouselExample" class="carousel slide">
                    
                        <div id='foto-carrossel' class="carousel-inner">
                            {% for index, roupa in roupas_enumeradas %}
                                <div class="carousel-item {% if index == 0 %}active{% endif %}">
                                    <img src="/media/{{ roupa.fotosroupas_set.all.0.fotoUrl }}" width="500" height="500" class="d-block w-100 img-fluid" alt="...">
                                </div>
                            {% endfor %}
                        </div>
                    
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</header>
<!-- Section-->
<section>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if roupas %}
    {% for roupa in roupas %}
        {% with variacao=roupa.produtovariacao_set.first %}
            {% if variacao %}
                {% include 'componentes/roupa_card.html' with roupa=roupa variacao=variacao %}
            {% endif %}
        {% endwith %}
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-12 text-center">
            <h1>Nenhuma roupa encontrada...</h1>
        </div>
    </div>
{% endif %}
        </div>
    </div>
</section>
{% endblock %}