{% extends 'base.html' %}

{% block title %}Suit2Go - Carrinho{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<script>
  const debouncedRefresh = debounce(() => location.relod(), 300);

  function handleUpdateQuantity(productId, amount) {
    const cart = getCart();
    const updatedQuantity = updateCartProductQuantity(productId, amount);
    document.getElementById('itemQtd-'+productId).innerHTML = updatedQuantity;
  }

  function handleRemoveFromCart(productId) {
    removeFromCart(productId);
    alert('Produto removido do carrinho');
    document.getElementById('cartItem-'+productId).remove();
  }

  function handleCheckout() {
    alert('Finalizar compra clicked');
  }

  function handleContinueShopping() {
    alert('Continuar compras clicked');
  }
</script>

<div>
  <h2>Itens no Carrinho</h2>
  {% if carrinho %}
  <table class='cart' id="tableCartItems">
    <tr>
      <th>Produto</th>
      <th>Quantidade</th>
      <th></th>
    </tr>
    {% for item in carrinho.items %}
      <tr id="cartItem-{{item.productId}}">
        <td>{{item.name}}</td>
        <td>
          <span id="itemQtd-{{item.productId}}">{{item.quantity}}</span>
          <button onclick="handleUpdateQuantity('{{item.productId}}', -1)">-</button>
          <button onclick="handleUpdateQuantity('{{item.productId}}', 1)">+</button>
        </td>
        <td>
          <button onclick="handleRemoveFromCart('{{item.productId}}')">X</button>
        </td>
      </tr>
    {% endfor %}
  
    {% if carrinho.items|length == 0 %}
      <tr>
        <td colspan="3">Nenhum item no carrinho</td>
      </tr>
    {% endif %}
  </table>
  {% endif %}
</div>
{% endblock %}
