{% extends 'base.html' %}

{% block title %}Suit2Go - Carrinho{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
<script>
  const debouncedRefresh = debounce(() => location.relod(), 300);

  function handleUpdateQuantity(productId, amount) {
    const cart = getCart();
    const updatedQuantity = updateCartProductQuantity(productId, amount);
    document.getElementById('itemQtd-'+productId).innerHTML = updatedQuantity;
  }

  function handleRemoveFromCart(productId) {
    removeFromCart(productId);
    alert('Produto removido do carrinho');
    document.getElementById('cartItem-'+productId).remove();
  }

  function handleCheckout() {
  }

  function handleContinueShopping() {
    alert('Continuar compras clicked');
  }
</script>

<div>
  <div class='carrinho-header'>
    <img class='carrinho-icon' src="{% static  'img/shop-cart.png' %}">
    <h2>Carrinho de compras</h2>
  </div>

  {% if carrinho %}
  <table class='cart' id="tableCartItems">
    <thead class = 'cart-prod-quant'>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for item in carrinho.items %}
      <tr id="cartItem-{{item.productId}}">
        <td>{{item.name}}</td>
        <td>
          <span id="itemQtd-{{item.productId}}">{{item.quantity}}</span>
          <button onclick="handleUpdateQuantity('{{item.productId}}', -1)">-</button>
          <button onclick="handleUpdateQuantity('{{item.productId}}', 1)">+</button>
        </td>
        <td>
          <button onclick="handleRemoveFromCart('{{item.productId}}')">X</button>
        </td>
      </tr>
    {% endfor %}
  
    {% if carrinho.items|length == 0 %}
      <tr>
        <td id='cart-none' colspan="3">Nenhum item no carrinho</td>
      </tr>
    {% endif %}
    </tbody>
    <tfoot>
      <a href="{% url 'checkout' %}" >Checkout</a>
    </tfoot>
  </table>
  {% endif %}
</div>
{% endblock %}