{% extends 'base.html' %}

{% block title %}Suit2Go - Roupa{% endblock %}

{% block content %}
        <p class="tópico_roupa">{{roupa.nome}}</p>
        <p class="tópico_roupa">Categoria: {{roupa.categoria}}</p>
        <p class="tópico_roupa">Tamanho: {{roupa.tamanho}}</p>
        <p class="tópico_roupa">Cor: {{roupa.cor}}</p>
        <p class="tópico_roupa">Estilo: {{roupa.estilo}}</p>
        <p class="tópico_roupa">Preço aluguel: {{roupa.preco_aluguel}}</p>
        <p class="tópico_roupa">Peças disponíveis: {{roupa.disponibilidade}}</p>
{% endblock %}