{% extends 'base.html' %}

{% block title %}Suit2Go - Roupa{% endblock %}

{% block content %}
<img img src="{{roupa.foto.url}}" class="imagem_roupa" alt="{{ roupa.nome }}">
<p class="front-image-identifier">{{roupa.nome}}</p>
<div class="topic-container">
        <p class="tópico_roupa">Categoria: <strong>{{roupa.categoria}}</strong></p>
        <p class="tópico_roupa">Tamanho: <strong>{{roupa.tamanho}}</strong></p>
        <p class="tópico_roupa">Cor: <strong>{{roupa.cor}}</strong></p>
        <p class="tópico_roupa">Estilo: <strong>{{roupa.estilo}}</strong></p>
        <p class="tópico_roupa">Preço aluguel: <strong> R$ {{roupa.preco_aluguel}}</strong></p>
        <p class="tópico_roupa">Peças disponíveis: <strong>{{roupa.disponibilidade}}</strong></p>
</div>
<a href="{% url 'aluguel' idroupa=roupa.id_roupas %}" class="btn btn-primary stretched-link">Ver</a>
{% endblock %}